header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    float: left;
    top: 0;
    left: 0;
    right: 0;
    height: 42px;
    .title {
        margin: 0;
        padding: 4px;
        font-size: 1.6rem;
        font-weight: 800;
        transition: 0.2s;
        cursor: pointer;
        &:hover {
            transform: scale(1.02)
        }
    }
}