/*
Variables
*/

$color: #6a9955;
$color-bulb-light: #6a9955;
// Dark theme
$color-dark-text: white;
$color-dark-background: #333333;
$color-dark-header-background: #575757;
$color-dark-footer-background: #575757;
$color-dark-hover: #000000;
// Light theme
$color-light-text: black;
$color-light-background: white;
$color-light-header-background: #ebebeb;
$color-light-footer-background: #ebebeb;
$color-light-hover: #000000;
// Error
$color-error-text: red;
$color-error-background: rgba(255, 0, 0, 0.137);
$border-error: 1px solid rgba(255, 0, 0, 0.562);
// Sucess
$color-sucess-text: green;
$color-sucess-background: rgba(0, 128, 0, 0.178);
$border-sucess: 1px solid rgba(0, 128, 0, 0.329);
// Button
$color-btn: grey;
$color-btn-active: #00acee;
//Transition
$duration-shorter: 0.2s;
$duration-short: 0.4s;
$duration-med: 0.6s;
$duration-long: 1s;
// Border
$border: 1px solid $color;
$border-radius: 5px;
// Mixins
@mixin underscore($height) {
    transition: $duration-short;
    &::after {
        content: " ";
        display: block;
        margin-top: 0px;
        width: 0%;
        height: $height;
        transition: width linear $duration-shorter;
    }
    &:hover {
        &::after {
            width: 100%;
        }
    }
}


/*
Mixins
*/

@mixin theme ($color, $color-text, $color-background, $color-header-background, $color-footer-background, $color-hover, $border, $border-radius, $color-error-text, $color-error-background, $border-error, $color-sucess-text, $color-sucess-background, $border-sucess) {
    color: $color-text;
    background-color: $color-background;
    header {
        background-color: $color-header-background;
        .title {
            color: $color;
        }
        nav {
            a {
                &::after {
                    background-color: $color;
                }
                &:hover {
                    color: $color-hover;
                }
            }
        }
    }
    .msgStatus {
        &.error {
            color: $color-error-text;
            background-color: $color-error-background;
            border: $border-error;
            border-radius: $border-radius;
        }
        &.sucess {
            color: $color-sucess-text;
            background-color: $color-sucess-background;
            border: $border-sucess;
            border-radius: $border-radius;
        }
    }
    a {
        color: $color;
        &::after {
            background-color: $color;
        }
        &:hover {
            color: $color-hover;
        }
    }
    .bulb {
        &__img {
            color: black;
            &.light {
                color: $color-bulb-light;
            }
        }
        .name {
            color: $color;
        }
    }
    .add-device {
        fieldset {
            border-radius: $border-radius;
            color: $color;
            border: 1px solid $color-header-background;
            input,
            select {
                background-color: $color-header-background;
                border: none;
                color: $color-text;
                border-radius: $border-radius;
            }
        }
    }
    .delete {
        hr {
            border: 1px solid $color-header-background;
        }
        &__device {
            &__trash {
                &.selected {
                    color: $color;
                }
                &:hover {
                    color: $color;
                }
            }
        }
    }
    .button {
        button {
            border-radius: $border-radius;
            color: $color-text;
            border: $border;
            background-color: $color-background;
            font-weight: 700;
            &:hover {
                color: $color-hover;
                border: $border;
                background-color: $color;
            }
        }
    }
    footer {
        background-color: $color-footer-background;
        .credit {
            color: $color;
        }
    }
}