footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 5vh;
    min-height: 30px;
    .credit {
        font-size: 0.7rem;
        font-weight: 500;
    }
}