extends layout

block content
    .main
        form(action="", method="post", class="add-device")
            fieldset
                legend Add a Device
                .name-device
                    label(for="nameinput") 
                        | Name of the Device
                        sup *
                    input(type="text", name="nameinput", id="nameinput", placeholder="My Device", required autofocus)
                
                .id-device
                    label(for="idinput") 
                        | ID of the Device
                        sup *
                    input(type="text", name="idinput", id="idinput", placeholder="ID", required autofocus)

                .state-device
                    label(for="stateinput")
                        | Choose the initial state
                        sup *
                    select(name="stateinput", id="stateinput" required)
                        option(value="true") On
                        option(value="false" selected) Off

                .type-device
                    label(for="typeinput")
                        | Choose type of your device
                        sup *
                    select(name="typeinput", id="typeinput" required)
                        option(value="relay" selected) relay
                        option(value="pwm") pwm
                        option(value="pwm-rgb") pwm rgb
    
                .button
                    button(type="submit") Add
                    button(type="reset") Erase


block scripts
  script(src="/javascripts/indexSwitchBtnScript.js")


