extends layout

block content
    .main
        ul.delete
            - var i =0
            for bulb in bulbs.bulbs
                li.delete__device
                    | #{bulb.name}
                    i(class="fas fa-trash-alt delete__device__trash" data-num=i)
                hr
                - i++

block append footer
  script(src="/javascripts/indexSwitchBtnScript.js")
