extends layout

block content
  .main
    .choice
      a(href="/edit-config/add") add
      a(href="/edit-config/delete") delete

block append footer
  script(src="/javascripts/indexSwitchBtnScript.js")