extends layout

block content
  div(class="main")

    label(for="chk" class="bulb")
      i.fa.fa-lightbulb.bulb__img
      input(type="checkbox" id="chk")

block append footer
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/indexSocketScript.js")
  script(src="/javascripts/indexSwitchBtnScript.js")


  
