extends layout

block content
  div(class="main")
    h1 Welcome to #{title}
    div(class="subtitle") from #{compagny}

    a(href="/controls") Acess to controles
    label(for="chk") Check
    input(type="checkbox" id="chk")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/indexScript.js")