extends layout

block content
  div(class="main")

    - var i = 0
    each bulb in bulbs.bulbs
      label(for=bulb.name class="bulb")
        i.fa.fa-lightbulb.bulb__img
        input(type="checkbox" id=bulb.name class="chkBulb" data-num=i)
      - i++

block append footer
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/indexSocketScriptInBuild.js")
  script(src="/javascripts/indexSwitchBtnScript.js")


  
