doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.8.0/css/all.css")
    
  body(class="dark")
    block header
    header
      h1.title
        a(href="/") Welcome to #{title}
      nav
      .container
        .container__toggle-btn
         .container__toggle-btn__inner-cercle
    block content
    block footer
      footer
        div(class="credit") by #{compagny}

      
    
