doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(class="dark")
    block header
    header
      nav
      .container
        .container__toggle-btn
         .container__toggle-btn__inner-cercle
    block content
    block footer
