.add-device {
    width: 35%;
    min-width: 340px;
    font-size: 1.3rem;
    word-spacing: 0px;
    fieldset {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0px;
        .name-device,
        .state-device,
        .id-device,
        .button {
            display: flex;
            flex-direction: column;
            padding: 5px;
            margin: 10px;
            input,
            select {
                height: 35px;
                padding: 6px;
                font-size: 1.07rem;
            }
        }
        label {
            font-weight: 200;
        }
        button {
            font-size: 1.3rem;
            padding: 5px;
            margin: 10px;
            cursor: pointer;
        }
    }
}