.bulb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 240px;
    padding: 10px;
    margin: 20px;
    cursor: pointer;
    .chkBulb {
        display: none;
    }
    .rangeBulb {
        cursor: pointer;
    }
    p {
        margin: 5px;
    }
    &__img {
        font-size: 10rem;
    }
    .name {
        text-transform: uppercase;
    }
}