.delete {
    width: 40%;
    input {
        display: none;
    }
    &__device {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1.4rem;
        &__trash {
            font-size: 2rem;
            padding: 5px;
            cursor: pointer;
        }
    }
}