.choice {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    a {
        font-size: 3.4rem;
        padding: 15px;
        text-transform: uppercase;
        @include underscore(4px);
    }
}